<!DOCTYPE html>

<html>

<head>

    <title>About - World Cup 2026 Fan Guide</title>

    <link rel="stylesheet" href="{{ url_for('static',
        filename='style.css') }}">
    <script nowprocket data-noptimize="1" data-cfasync="false" data-wpfc-render="false" seraph-accel-crit="1" data-no-defer="1">
  (function () {
      var script = document.createElement("script");
      script.async = 1;
      script.src = 'https://emrldtp.com/NTM1NTc1.js?t=535575';
      document.head.appendChild(script);
  })();
</script>


</head>

<body>

    <div class="container">

        <h1>🌎 About</h1>

        <p>

            World Cup 2026 Fan Guide helps football
            fans discover host cities, stadiums,
            weather, transport, hotels, halal food,
            and match schedules during FIFA World Cup 2026.

        </p>

    </div>
    {% include "footer.html" %}
</body>

</html>
