<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Affiliate Disclosure</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
    <script nowprocket data-noptimize="1" data-cfasync="false" data-wpfc-render="false" seraph-accel-crit="1" data-no-defer="1">
  (function () {
      var script = document.createElement("script");
      script.async = 1;
      script.src = 'https://emrldtp.com/NTM1NTc1.js?t=535575';
      document.head.appendChild(script);
  })();
</script>

</head>

<body>

<div class="container">

    <h1>Affiliate Disclosure</h1>

    <p>
        Some links on this website may be affiliate links.
    </p>

    <p>
        This means we may earn a commission if you click
        on a link and make a purchase, at no extra cost to you.
    </p>

    <p>
        We only recommend products and services that may
        be useful for World Cup 2026 travelers and fans.
    </p>

    <a href="/" class="button">
        Back Home
    </a>

</div>

{% include "footer.html" %}

</body>
</html>
