<!DOCTYPE html>

<html>

<head>

    <title>Privacy Policy</title>

    <link rel="stylesheet" href="{{ url_for('static',
        filename='style.css') }}">
    <script nowprocket data-noptimize="1" data-cfasync="false" data-wpfc-render="false" seraph-accel-crit="1" data-no-defer="1">
  (function () {
      var script = document.createElement("script");
      script.async = 1;
      script.src = 'https://emrldtp.com/NTM1NTc1.js?t=535575';
      document.head.appendChild(script);
  })();
</script>

</head>


<body>

    <div class="container">

        <h1>🔒 Privacy Policy</h1>

        <p>

            We respect your privacy.
            This website may use cookies,
            analytics, and advertising services
            to improve user experience.

        </p>

    </div>
    {% include "footer.html" %}
</body>

</html>
